* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
button,
input,
select,
textarea{
    font-size: 62.5%;
    color: #fff;
}

body{
    background-color: #1c1917;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 600px;
}
.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.illustration .img {
    width: 100%;
    max-width: 700px;
}

.login {
        background-color: #4c45b3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
}
 
.login h2{
    font-family: 'Fira Code', monospace;
    font-size: 4rem;
}
.login h2 span{
    font-size: 2rem;
}
form{
    margin-top: 2rem;
    font-size: 2rem;
    width: 100%;
    max-width: 250px;
    text-align: center;
}
form input{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
form input::placeholder{
    color: #ddd;
}
form input:focus{
    outline: none;
    border: 1px solid #fff;
    border-radius: 2px;
}
form a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;;
    transform: 0.2s;
}
form a:hover{
    color: #fff;
}
form #submit{
    border: 0;
    background: #1c1917;
    margin-top: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}
form #submit:hover{
    background-color: transparent;
    border: 2px solid #1c1917;
}

@media (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
    }
    .illustration{
        display: none;
    }
}

